{% extends "base_template.html" %}

{% block title %}
    AWS es lider en el mercado de la nube
{% endblock %}

{% block content %}
   <!-- Post Content -->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    
                    {% include 'blog/bg-01-AWS-es-la-plataforma-líder-en-la-nube.html' %}
                    <p class="post-meta">
                        Posted by
                        <a href="#!">Fernando Carazo</a>
                        on May 7, 2023
                    </p>
                </div>
            </div>
        </div>
    </article>

{% endblock %}
