<h1>Caso práctico de arquitectura cloud</h1>
<p>AWS ofrece más de 200 servicios, por lo que iniciarse en el cloud computing puede parecer abrumador al principio.
    Como vimos en el post anterior <a
        href="https://awsdesdecero.com/pubs/aws-03_primeros-pasos-con-aws-%7C-principales-servicios">
        Los colores de AWS
    </a>,
    una forma fácil de entender los servicios de AWS es asimilarlos a colores. Si no has leído el post
    te recomiendo que lo hagas antes de continuar con este.
</p>
<p>En este post, profundizaremos en esta analogía con un caso práctico para que puedas entender mejor cómo se utilizan
    los servicios de AWS en una arquitectura cloud.
</p>

<h1>Food2Go</h1>
<p>Imaginemos que somos una pequeña startup llamada "Food2Go" que ofrece entregas de comida a domicilio. Queremos
    expandir nuestro negocio y mejorar nuestra plataforma en línea utilizando servicios de AWS.</p>

<p>Nuestra plataforma de pedidos en línea se construye con una página web que muestra los distintos menús (esto se llama
    front-end) y una serie de programas que nos permite dar funcionalidad a la web que utilizan tecnología Java y Python
    (back-end). Queremos que nuestros clientes puedan realizar pedidos en línea de forma rápida y eficiente.</p>
<p>Para esto, necesitamos un servicio de almacenamiento como Amazon S3 (coloreado de verde) para almacenar imágenes de
    comida y otros recursos multimedia que utilizamos en nuestra plataforma. También utilizaremos una base de datos con
    Amazon RDS (coloreado de azul) para almacenar la información que tenga estructura de base de datos SQL.</p>
<p>Además, necesitamos utilizar servicios de cómputo como Amazon EC2 (coloreado de naranja) para procesar y ejecutar
    nuestro código de manera rápida y eficiente. Amazon EC2 son servidores que permiten ejecutar programas en la nube de
    Amazon con nuestra web front-end. La conexión entre servicios la haremos utilizando un servicio de colas con Amazon
    Simple Queue Service (SQS), color rosa.</p>
<p>Queremos que nuestros clientes puedan realizar pagos en línea de manera segura y eficiente. Para esto, utilizamos
    Amazon Cognito para crear los usuarios y proteger y encriptar sus contraseñas.</p>
<p>Para mejorar la velocidad y el rendimiento de nuestra plataforma en línea, utilizamos servicios de redes como Elastic
    Load Balancing (ELB) (coloreado de morado) para distribuir la carga de nuestros servidores y asegurarnos de que
    nuestros clientes puedan acceder a nuestra plataforma sin problemas.</p>
<p>Finalmente, para proteger nuestros datos y recursos de la plataforma, utilizamos servicios de seguridad y identidad
    como AWS IAM (coloreado de rojo).</p>
<p>Con estos servicios de AWS, nuestra plataforma en línea se vuelve más rápida, eficiente y segura, lo que a su vez nos
    ayuda a expandir nuestro negocio de entregas de comida a domicilio y ofrecer una experiencia aún mejor a nuestros
    clientes.</p>


<p>El esquema de la arquitectura quedaría de la siguiente forma:</p>
    {% include 'diagrams/01_Food2Go.html' %}

<p>Espero que esta información te haya sido útil para entender cómo se organizan los servicios de AWS. En próximos
    posts, profundizaremos en cada categoría de servicios y te explicaremos cómo utilizarlos. ¡Mantente atento!</p>

