<h1>Los Colores de AWS - Primeros pasos con Amazon Web services</h1>
<p>En este post, te explicaré cómo se organizan los servicios de AWS y qué significan los colores que los representan.
</p>
<p>AWS ofrece más de 200 servicios, por lo que puede ser un poco abrumador al principio. Pero no te preocupes, AWS
    organiza los servicios por categorías y los colorea para que sea más fácil entender de qué se trata cada uno.</p>
<p>A continuación explicaré los servicios agrupados por colores y las categorías que representan, y al final veremos un
    caso práctico de una empresa ficticia en que se utilizarán todos estos servicios.</p>
<blockquote>
    <p>AWS organiza los servicios por categorías y los colorea para que sea más fácil entender de qué se trata cada uno.
    </p>
</blockquote>

<p>¿Conoces alguno de los servicios de esta imagen? ¿Sabrías qué funcionalidad tiene este diagrama de AWS? </p>
<br>

<img src="{{ url_for('static', filename='img/pubs/body/aws-01_Aprende-AWS-desde-cero.jpg') }}" style="max-width:70%;">

<p>
    No te preocupes que iremos viendo cada uno de los servicios en detalle en próximos posts, y al final serás capáz de
    interpretarlo. Por ahora, vamos a ver cómo se
    agrupan los servicios de AWS.
</p>

<h2>Servicios de cómputo (Naranja)</h2>

<p>Los servicios de cómputo son aquellos que se encargan de procesar y ejecutar código en la nube. Amazon Elastic
    Compute Cloud (EC2) es un ejemplo de servicio de cómputo. Estos servicios están coloreados de naranja para
    representar la velocidad y la eficiencia de la computación en la nube. </p>
<img src="{{ url_for('static', filename='img/services-colors/01_compute.png') }}" style="max-width:500px;">
<p></p>

<h2>Servicios de almacenamiento (Verde)</h2>
<p>Los servicios de almacenamiento son aquellos que se encargan de almacenar y gestionar tus datos en la nube. Amazon
    Simple Storage Service (S3) es un ejemplo de servicio de almacenamiento. Estos servicios están coloreados de verde
    para representar la capacidad de almacenamiento y la flexibilidad de la nube.</p>
<img src="{{ url_for('static', filename='img/services-colors/02_storage.png') }}" style="max-width:500px;">
<p></p>

<h2>Servicios de base de datos (Azul)</h2>
<p>Los servicios de base de datos son aquellos que se encargan de almacenar, gestionar y analizar datos estructurados y
    no estructurados. Amazon Relational Database Service (RDS) es un ejemplo de servicio de base de datos. Estos
    servicios están coloreados de azul para representar la importancia y la complejidad de la gestión de datos.</p>
<img src="{{ url_for('static', filename='img/services-colors/05_database.png') }}" style="max-width:500px;">
<p></p>

<h2>Servicios de redes (Morado)</h2>
<p>Los servicios de redes son aquellos que se encargan de conectar tus recursos en la nube y proporcionar conectividad a
    Internet. Elastic Load Balancing (ELB) y Amazon API Gateway son algunos ejemplos de servicios de redes. Estos
    servicios están coloreados de morado para representar la conexión y el equilibrio de carga en la nube.</p>
<img src="{{ url_for('static', filename='img/services-colors/03_network.png') }}" style="max-width:500px;">
<p></p>

<h2>Servicios de integración entre aplicaciones (Rosa)</h2>
<p>Los servicios de mensajería y cola son aquellos que se encargan de la comunicación entre aplicaciones y sistemas en
    la nube. Amazon Simple Queue Service (SQS) es un ejemplo de servicio de mensajería y cola. Estos servicios están
    coloreados de rosa para representar la comunicación y la entrega de mensajes en la nube.</p>
<img src="{{ url_for('static', filename='img/services-colors/04_integration.png') }}" style="max-width:500px;">
<p></p>

<h2>Servicios de seguridad y identidad (Rojo)</h2>
<p>Los servicios de seguridad y identidad son aquellos que se encargan de proteger tus recursos y datos en AWS. AWS
    Identity and Access Management (IAM) o Amazon Cognito son ejemplos de servicio de seguridad y identidad. Estos
    servicios están coloreados de rojo para representar la importancia de proteger tus datos y recursos en la nube.</p>
<img src="{{ url_for('static', filename='img/services-colors/08_security.png') }}" style="max-width:500px;">
<p></p>

<p>En el <a
        href="http://127.0.0.1:5000/pubs/aws-04_Caso-pr%C3%A1ctico-%7C-Arquitectura-cloud-de-una-sturtup.html">siguiente
        post</a> podrás entender los colores de AWS con un caso práctico: la startup "Food2Go" que ofrece un
    servicio de comida a domicilio.</p>