<div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;">
  <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">

    <a href="#">
      <div class="card width">
        <img class="card-img-top" src="/static/img/aws/01-Amazon EC2.png" alt="Card image cap"> </img>
        <div class="card-body">
          <h5 class="card-title">Post title</h5>
          <p class="card-text">Post description.</p>
        </div>
      </div>
    </a>

  </div>
  <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">

    <a href="#">
      <div class="card">
        <img class="card-img-top" src="/static/img/home-bg.jpg" alt="Card image cap"> </img>
        <div class="card-body">
          <h5 class="card-title">Post title</h5>
          <p class="card-text">Post description.</p>
        </div>
      </div>
    </a>

  </div>

</div>