{% extends "base_template.html" %}

{% block title %}
Escuela AWS
{% endblock %}

{% block subtitle %}
Aprendizaje en la nube - Aprende, practica, certifícate en AWS
{% endblock %}

{% block content %}

<div class="container px-4 px-lg-5">

    <header>
        <h1>¡Bienvenidos a la Escuela AWS!</h1>
        <p>Si eres un apasionado de la tecnología, sabes que la nube y los servicios en línea son cada vez más
            importantes en el mundo de hoy. En la Escuela AWS, te ofrecemos una forma sencilla y amigable de aprender
            sobre Amazon Web Services y cómo utilizarlos para impulsar tus proyectos y tus habilidades en el ámbito
            tecnológico.</p>
    </header>

    <img src="{{ url_for('static', filename='img/AWS-resources.png')}}" alt="AWS-resources" class="img-fluid">
    <figcaption class="figure-caption">Algunos de los servicios de Amazon Web Services.</figcaption>
<br><br>
    <main>
        <section>
            <h2>Todo lo que necesitas saber sobre AWS</h2>
            <p>En nuestra plataforma, encontrarás todo lo que necesitas saber sobre AWS, desde los servicios más
                populares, como Amazon S3 y EC2, hasta herramientas para el desarrollo y la gestión de aplicaciones en
                la nube. Ya sea que estés comenzando a explorar el mundo de la nube o que quieras profundizar en tus
                conocimientos, la Escuela AWS te ofrece recursos útiles, consejos prácticos y guías paso a paso para que
                puedas utilizar AWS de manera efectiva y eficiente.</p>
        </section>

        <section>
            <h2>Nuestro compromiso contigo</h2>
            <p>Nuestro objetivo es ayudarte a comprender la nube y cómo utilizarla para mejorar tus habilidades en el
                mundo tecnológico. En la Escuela AWS, estamos comprometidos con tu aprendizaje constante y siempre
                actualizamos nuestra plataforma con las últimas tecnologías y tendencias de la nube.</p>
        </section>

        <section>
            <h2>Únete a nosotros hoy mismo</h2>
            <p>No importa si eres un principiante o un experto, ¡únete a la Escuela AWS hoy mismo para empezar a
                aprender sobre la nube y cómo utilizarla para impulsar tu carrera y tus proyectos! ¡Te esperamos!</p>
        </section>
    </main>
</div>


<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Características de nuestra web</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <i class="bi bi-box-arrow-in-down border-primary rounded-circle p-5"></i>

            </div>
            <h3 class="fs-2">Simplicidad</h3>
            <p>Nos encargamos de traducir los más de 50 servicios de AWS a un lenguaje sencillo y fácil de entender.</p>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <i class="bi bi-tools border-primary rounded-circle p-5"></i>
            </div>
            <h3 class="fs-2">Basado en proyectos</h3>
            <p>Te enseñamos a utilizar los servicios de AWS en proyectos reales para que puedas aplicar tus
                conocimientos de forma práctica.</p>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">

                <i class="bi bi-patch-check border-primary rounded-circle p-5"></i>

            </div>
            <h3 class="fs-2">Certifícate</h3>
            <p>Te preparamos para que puedas obtener las certificaciones de AWS y así puedas demostrar tus habilidades y
                conocimientos.</p>
            </a>
        </div>
    </div>
</div>
<div class="container px-4 py-5" id="featured-3">


    {% include 'graph.html' %}
</div>
{% endblock %}