{% extends "base_template.html" %}

{% block title %}
{{ file_name }}
{% endblock %}

{% block content %}
<!-- Post Content -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <img src=" {{ url_for('static', filename= file ) }}" alt="">
                <p>{{ 'img/aws/' + file_jpg + '.png' }}</p>
                {% include "aws-services/" + file + ".html"%}
                <p class="post-meta">
                    Posted by
                    <a href="#!">Fernando Carazo</a>
                    on {{ date }}
                </p>
            </div>
        </div>
    </div>
</article>

{% endblock %}